.posts-list {
    background: #f8f8f8;
    border-radius: 5px;
}

.post-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1em;
    transition: 50ms ease-in;
}

.post-item:hover,
.post-item:focus-within,
.post-item.context-menu-active {
    background: #e8e8e8;
}

.post-item-title {
    flex: 1;
    justify-self: flex-end;
}

.post-item-title > a {
    display: inline-block;
    padding: .7em .5em;
}

.post-item-state {
    padding-left: 1em;
    padding-right: 1em;
}

.post-item-state > span {
    /*width: 7em;*/
    width: 6em;
    text-align: center;
}

ul {
    list-style: none;
}

.context-menu {
    position: absolute;
    overflow: hidden;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

.menu > li > a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 100ms linear;
}

.menu > li > a:hover {
    background: #f1f3f7;
    color: #1e87f0;
}

.menu > li > a > i {
    padding-right: 10px;
}

.menu > li.trash > a:hover {
    color: #ff3e3e;
}

.menu > li.archive > a:hover {
    color: #faa05a;
}